        body
             {    max-width:100%;
                 font-family: 'Open Sans', sans-serif;
                 overflow-x:hidden;
                 overflow-y:scroll;
                 font-size:16px;
             }
             .button
             {
                 border:1px solid deeppink;
                 background-color:deeppink;
                 border-radius:20px;
             }
           .navbar-default .navbar-nav .button>a 
             {
                 color:white;
               }
             .navigation
             {   width:100%;
                 margin-top:1%;
               
             }
            .navbar-nav>li>a {
                padding-top: 15px;
                 padding-bottom: 15px;
               }
            .navbar-brand 
             {
                float:right;
                height: 50px;
                
                font-size: 18px;
                line-height:20px;
             }
             .navbar-header
             {
                 padding-left:1%;
                 position:relative;
             }
             .navbar-default
             {
                 background-color: white;
                 border-bottom-color: deeppink;
              }
              .navbar-header a
             {
                 text-decoration:none;
            }
              .beta
            {
                
                color:deeppink;
                position:absolute;
                left:200px;
                top:-5px;
                font-size:12px;
             }
              .navbar-default .navbar-nav>li>a:hover 
          {
               color:deeppink;
              background-color: transparent;
         }
           .navbar-default .navbar-nav .button>a:hover
        {
                 color:black;
                 background-color: transparent;
          }
         .main
             {
                 width:90%;
                 margin-top:7%;
             }
         .body
             {   text-align:justify;
                 font-size:16px;
                 padding-top:2%;
                 
             }
             .link
             {   text-decoration:underline;
                 font-size:20px;
                 padding-top:1%;
                 padding-bottom:2%;
             }
              .footer
             {   width:100%;
                 background-color:gray;
                 color:white;
				 
                
             }
             .footer a
             {
                 color:white;
                 text-decoration:none;
             }
             
           span.beta1
             {
                    color: gray;
                    position: absolute;
                    font-size: 10px;
                    top: 28px;
                    left:62px;
            }
              @media screen and (max-width:600px)
              {
                
                  .footer .row
                  {
                      text-align:center;
                  }
				  .footer
				  { position:static;
				    
				  }
                  .main
                  {
                      margin-top:12%;
                  }
             }